<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<br />
<% if owner_signed_in? %>
	<%= link_to "Sign Out", destroy_owner_session_path, :method => 'delete' %>
<% else %>
	<%= link_to "Sign In", new_owner_session_path %>
	<%= link_to "Register", new_owner_registration_path %>
<% end %>
</body>
</html>